@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit" ;
  text-align: center;
}
body {
  background-color:  hsl(212, 45%, 89%);
}
h2{
  padding: 0 25px;
}
p{
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding: 2rem;
  
}
.card{
  
  margin: 2rem auto;
  min-height: 18rem;
  width: 20rem;
  background-color:white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
img{
    border-radius: 20px;
    margin:  10px;
    width: 18.5rem;
  }

@media only screen and (min-width: 1280px) {
  .card {
    margin: 15% auto;
  }
}
